node_modules/
.DS_Store
*.log
yarn-error.log
.microapps-local.json
.expo/
dist/
build/
coverage/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/Pods/
ios/build/
android/app/build/
android/build/
android/.gradle/
**/lib/
!**/src/lib/
*.tsbuildinfo
.idea/
.vscode/
*.swp
